In [0]:
#Name: Prakash Kumar
#Roll: 161210033
#Lab 7 : Dated 22/02/19

### Q: Implementation of Naive Bayes using inbuilt python module

In [0]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
from google.colab import drive
drive.mount('/content/drive')

data = pd.read_csv('/content/drive/My Drive/data/iris.csv')
data.columns

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [0]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [0]:
print("dimension of data: {}".format(data.shape))
print(data.groupby('species').size())

dimension of data: (150, 5)
species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [0]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set with 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(data.loc[: , 
                                                 data.columns != 'species'] , 
                                                 data['species'], 
                                                 stratify=data['species'], 
                                                 test_size=0.3,random_state=0)

In [0]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

In [0]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9777777777777777

In [0]:
from sklearn.metrics import confusion_matrix
print("confusion matrix = ", confusion_matrix(y_test, y_pred))

confusion matrix =  [[15  0  0]
 [ 0 15  0]
 [ 0  1 14]]